<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>FaChess</title>
</head>
<body>
  <section class="Main-section">
    <header>
      <h1>FaChess</h1>
    </header>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo delectus id, aperiam nihil voluptas sint iste cupiditate suscipit recusandae tenetur. Asperiores quis possimus iste, aut voluptatem reprehenderit nobis natus perferendis.
      </p>
    </main>
  </section>
  <section class="Login-section">
    <form action="/" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email_input" />
    </form>
  </section>
  <script src="js/static.js"></script>
</body>
</html>