<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:wght@500;600;700;800&family=Roboto+Slab:wght@300;400;500;900&family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/register-style.css" />
  <title>FaChess - Register</title>
</head>
<body>
  <header class="header">
    <h1>FaChess</h1>
  </header>
  <main>
    <section class="Form-section">
      <h2>Register</h2>
      <form class="Form-section__form" action="/" method="post">
        <div>
          <label for="username">Username:</label> <br />
          <input type="text" name="username" id="email_input_register" />
        </div>
        <div>
          <label for="email">Email:</label> <br />
          <input type="email" name="email" id="email_input_register" />
        </div>
        <div>
          <label for="password">Password:</label> <br />
          <input type="password" name="password" id="password_input_register" />
        </div>
        <div>
          <label for="repeated_password">Repeat password:</label> <br />
          <input type="password" name="repeated_password" id="repeated_password_input_register" />
        </div>
        <input class="signup-button" type="button" value="Sign Up" />
      </form>
    </section>
  </main>
</body>
</html>