<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:wght@500;600;700;800&family=Roboto+Slab:wght@300;400;500;900&family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/userpage-style.css" />
  <title>FaChess</title>
</head>
<body>
  <header class="header">
    <div class="header-title">
      <h1>FaChess</h1>
    </div>
    <div class="header-user">
      <p id="show-username"><strong></strong></p>
      <div class="user-logout-div hide">
        <p class="user-logout-div__p" id="Logout-button">Log Out</p>
      </div>
    </div>
  </header>

  <main class="main">
    <section class="Board-section">
      <div class="chessboard">.</div>
    </section>
    <section class="User-section">
      <div class="user-stats-div">
        <h3>Games played: <span class="games-played-stat"></span> </h3>
      </div>
      <div class="user-friends-div" id="user-friends-div">
        <button class="Add-friend_button" onclick="handleAddFriend()">Add Friend</button>
        <!-- Generado dinámicamente --> 
      </div>
    </section>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/static-userpage.js"></script>
</body>
</html>